body {
  height: 100%;
}

.App {
  padding: 2rem 0;
  text-align: center;
}

.todo-item:hover {
  cursor: pointer;
  background: azure;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.completed {
  color: #d3d3d3;
  text-decoration: line-through;
}
